@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="text-center">
        
        <h2>To know your sodiacal Sign, Please Press the Button to complete the Form</h2>

        <a class="btn btn-primary" asp-action="ButtonForm">Button Form</a>

       
    </div>
</body>
</html>