@model Sodiacal_Sign.Models.UserForm
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body class="text-center">
    <p>
        <h1>@Model.Name Your Sodiacal Sign is!</h1>

    </p>

    @*<p>Click <a asp-action="Listusers">here</a></a></p>*@

    <h5>SAGITARIO.</h5>

    

</body>
</html>
